.mainNav {
  display: flex;
  background-image: linear-gradient(
    55deg,
    rgba(157, 34, 53, 0.9),
    rgba(0, 71, 171, 0.9)
  );
  padding: 0.8rem;
  top: 0;
}

.mainNav1 {
  /* width: 180%; */
  margin-left: 75%;
}

.mainLink {
  text-decoration: none;
  font-size: x-large;
  color: white;
  font-weight: bold;
  transition: 0.3s;
  padding: 0.3rem;
}

.mainLink:hover {
  color: black;
}

.cityDrop {
  padding: 0.6rem;
  margin-left: 55%;
  color: white;
  font-weight: bold;
  background: none;
  border: none;
}

.userDrop {
  padding: 0.6rem;
  margin-left: 10px;
  color: white;
  font-weight: bold;
}

.logOutBtn {
  margin-left: 15px;
  background-color: rgba(157, 34, 53, 0.8);
  border-radius: 10px;
  border: 1px solid rgb(0, 71, 171);
  color: white;
  transition: 0.3s;
  padding: 12px;
  font-weight: bold;
}

.logOutBtn:hover {
  color: rgba(157, 34, 53, 1);
  background-color: white;
  border: 1px solid white;
}

option {
  color: black;
}
